*{ font-family: "EB Garamond", serif;
  margin: 0;
  padding: 0;


}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('https://m.media-amazon.com/images/I/71t2iMRG+rL._UF1000,1000_QL80_.jpg') ; /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  height: 100vh; /* Makes the background height cover the viewport */
}
